* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    background-image:url(Larry_Chen_Speedhunters_toy_drift_in_film-1-1200x798.jpg) ;
    background-repeat: no-repeat;
}

.login {
    width: 360px;
    padding: 20px;
    border-radius: 12px;
    background-color: lightgray;

    font-size: 36px;
    margin-bottom: 25px;
}

.login form .form-group {
    margin-bottom: 12px
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}