* {
    box-sizing: border-box;
    margin: 0;
    Padding: 0;
}

.item { 
width: 100px;
height: 100px;

}

.product1 {

    display: flex;
justify-content: space-around;
}

.product2 {
    display: flex;
    justify-content: space-around;
}

